.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 20px;
}

.cross {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.bar-cross {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.bar-cross:first-child {
  transform: rotate(45deg);
}

.bar-cross:last-child {
  transform: rotate(-45deg);
}