#navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgb(83, 83, 83);
    background-color: rgb(209, 209, 209);
}

#movEvita {
    width: 10%;  
    padding: 1%;  
    margin-left: 10%;
}

#indice {
    margin-right: 10%;
    display: flex;
}

#indice a {
    width: max-content;
    margin-left: 1%;
}


@media only screen and (max-width: 1024px){
	/*Big smartphones [426px -> 600px]*/
    #movEvita {
        width: 12%;
    }
}

@media only screen and (max-width: 600px){
	/*Small smartphones [325px -> 425px]*/
    #movEvita {
        width: 25%;
        padding: 3%;
        margin-left: 3%;
    }
}


@media only screen and (max-width: 412px){  
}

@media only screen and (max-width: 320px){
	/*Small smartphones [325px -> 425px]*/

}