

body {
  background-color: rgb(172, 172, 248);
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 80%;
  height: 500px;
}

p {
  width: 80%;
}


@media only screen and (max-width: 1024px){
	/*Big smartphones [426px -> 600px]*/
  iframe {
    height: 500px
  }
  body{
    background-color: rgb(44, 44, 129);
  }
}

@media only screen and (max-width: 476px){
	/*Small smartphones [325px -> 425px]*/
  iframe {
    height: 240px;
  }
  body{
    background-color: rgb(107, 209, 107);
  }
}


@media only screen and (max-width: 412px){  
  body {
    background-color: rgb(219, 96, 96);
  }
  iframe {
    height: 222px;
  }
}

@media only screen and (max-width: 320px){
	/*Small smartphones [325px -> 425px]*/
  iframe {
    height: 200px;
  }
  body{
    background-color: rgb(107, 209, 107);
  }
}